body{
    text-align: center;
}

h1 {
  margin-top: 1.2em;
  margin-bottom: -2.5em;
  z-index: 1;
  font-size: 17em;
  font-family: 'Kabel Bold', sans-serif;
  color: rgb(61, 61, 61);
}

#gameCanvas {
  width: 100vw;
  height: 100vh;
  display: block;
}



#rollDiceBtn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  background: #111;
  color: white;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

#rollDiceBtn:hover {
  background: #333;
}

.dice-result-overlay {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.7);
    padding: 1em 2.5em;
    border-radius: 1em;
    z-index: 9999;
    font-family: sans-serif;
    pointer-events: none;
    opacity: 1;
}