body{
    text-align: center;
}

h1 {
  margin-top: 1.2em;
  margin-bottom: -2.5em;
  z-index: 1;
  font-size: 17em;
  font-family: 'Kabel Bold', sans-serif;
  color: rgb(61, 61, 61);
}

#gameCanvas {
  width: 100vw;
  height: 100vh;
  display: block;
}



#rollDiceBtn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  background: #111;
  color: white;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

#rollDiceBtn:hover {
  background: #333;
}

.dice-eyes-overlay {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    padding: 20px 40px;
    border-radius: 15px;
    z-index: 9999;
    pointer-events: none;
    opacity: 1;
}

.dice-face-img {
    width: 6em;
    height: 6em;
}
