body{
    text-align: center;
}

h1 {
  margin-top: 1.2em;
  margin-bottom: -2.5em;
  z-index: 1;
  font-size: 17em;
  font-family: 'Kabel Bold', sans-serif;
  color: rgb(61, 61, 61);
}

#gameCanvas {
  width: 100vw;
  height: 100vh;
  display: block;
}